.header {
	background: #000000;
}

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 75px;
}

.nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.nav li {
	width: 114px;
	line-height: 75px;
	height: 100%;
	text-align: center;
}

.nav li:hover {
	background-color: #EC7979;
	text-transform: uppercase;
}

.nav li:active {
	background-color: #AB4949;
	text-transform: uppercase;
}

.nav li a {
	font-family: 'OpenSans600';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
	height: inherit;
	display: block;
}

.header__btn, .header__btn--open {
	display: none;
}

@media (max-width: 1200px) {

	.header {
		padding-left: 100px;
	}
}

@media (max-width: 768px) {

	.header {
		padding-left: 4px;
	}

	.nav {
		height: 56px;
	}

	.logo {
		height: 23px;
		width: 65px;
	}

	.nav ul {
		display: none;
	}

	.header__btn {
		height: 19px;
		width: 24px;
		margin-right: 19px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: .3s;
		position: relative;
	}
	
	.header__btn div {
		height: 3px;
		width: 100%;
		background: #fff;
	}

	/* .header__btn--open {
		display: flex;
		justify-content: center;
	}

	.header__btn--open div:nth-child(2) {
		display: none;
	}

	.header__btn--open div:nth-child(1) {
		transform: rotate(45deg);
	}

	.header__btn--open div:nth-child(3) {
		transform: rotate(-45deg);
		position: absolute;
	} */
}