.main-screen {
	background-size: cover;
	background-image: url(../img/street.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 185px;
}

.main-screen::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.main-screen .container {
	position: relative;
	z-index: 1;
}

.main-screen__wrap {
	display: flex;
	justify-content: space-between; 
}

.main-screen__text {
	margin-top: 231px;
	width: 670px;
}

.main-screen h1 {
	position: relative;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 56px;
	font-family: 'Raleway500';
	font-weight: 500;
	text-align: left;
	font-style: normal;
	margin: 73px 0 97px 0;
}

.main-screen__title::after {
	margin: 0;
	bottom: -55px;  
}

.main-screen__subtitle {
	margin-bottom: 42px;
	text-align: left;
	width: 270px;
	font-size: 18px;
	line-height: 21px;
}

.main-screen__btn {
	width: 270px;
}

.main-screen__form {
	margin-top: 208px;
	width: 470px;
	height: 100%;
	border-radius: 10px;
	background: #fff;
}

.main-screen__form h2 {
	text-transform: uppercase;
	font-family: 'OpenSans700';
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	height: 90px;
	line-height: 90px;
	display: flex;
	justify-content: center;
	margin-bottom: 45px;
}

.main-screen__form h2 span {
	color: rgba(236, 121, 121, 1);
}

.data__fields--normal input:not(:first-child) {
	margin-top: 33px;
}

.data__fields--normal input {
	margin: 0 50px 3px;
}

.main-form__btn {
	margin: 75px 0 0;
	padding: 0;
	width: 100%;
	height: 60px;
	font-family: 'OpenSans600';
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	cursor: pointer;
	color: #fff;
	border-radius: 0 0 10px 10px;
}

@media (max-width: 1024px) {

	.main-screen {
		padding: 0 5px 132px 100px;
	}

	.main-screen__text {
		margin-top: 154px;
		width: 482px;
	}

	.main-screen__text img {
		width: 115px;
		height: 41px;
	}

	.main-screen h1 {
		font-size: 36px;
		line-height: 42px;
		margin: 54px 36px 72px 0;
	}

	.main-screen__title::after {
		bottom: -31px;  
		width: 115px;
	}

	.main-screen__subtitle {
		margin-bottom: 31px;
		width: 183px;
		font-size: 14px;
		line-height: 16px;
	}

	.main-screen__btn {
		width: 183px;
		height: 50px;
	}

	.main-screen__form {
		margin-top: 137px;
		width: 398px;
	}
	
	.main-screen__form h2 {
		font-size: 18px;
	}
}