.features {
	padding: 99px 0 50px;
}

.features__tabs-header {
	display: flex;
}

.tabs__item {
	width: 184px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-family: 'OpenSans400';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 19px;
	position: relative;
}

.tabs__item:active, .tabs__item:hover {
	width: 203px;
	border: 1px solid #C6CBCD;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
}

.tabs__item:active::after, .tabs__item:hover::after {
	position: absolute;
	z-index: 1;
	right: 0;
	left: -0.5px;
	bottom: 0;
	content: "";
	width: calc(1px + 100%);
	height: 1px;
	background: #fff;
}

.features__tabs-content {
	border: 1px solid #C6CBCD;
	display: flex;
	margin-top: -1px; /*это для того, чтобы скрыть часть бордера, который под "ТАВ 1", но уверена, что сделала неправильно*/
	justify-content: space-between;
}

.features__left {
	width: 570px;
	margin: 0 30px 54px 100px;
}

.features__left h3 {
	font-size: 30px;
	line-height: 124px;
	font-family: 'OpenSans700';
	font-weight: 700;
	font-style: normal;
	height: 124px;
	text-align: left;
	margin-bottom: 27px;
}

.features__text {
	height: 210px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.features__text p {
	font-size: 18px;
	line-height: 21px;
	margin: 0;
}

.btn--small {
	margin-top: 27px;
	width: 270px;
}

@media (max-width: 1200px) {

	.features {
		padding: 50px 0 50px;
	}

	.tabs__item {
		width: 156px;
	}

	.tabs__item:active, .tabs__item:hover {
		width: 172px;
	}

	.features__left {
		width: 483px;
		margin: 0 26px 50px 85px;
	}

	.features__left h3 {
		font-size: 24px;
		line-height: 24px;
		display: flex;
		align-items: center;
		height: 89px;
		margin-bottom: 38px;
	}

	.features__text {
		height: 112px;
	}

	.features__text p {
		font-size: 14px;
		line-height: 16px;
	}

	.btn--small {
		margin-top: 38px;
		width: 232px;
	}

	.features__tabs-content img {
		height: 385px;
		width: 398px;
	}
}

@media (max-width: 768px) {

	.features {
		padding: 41px 0 0;
	}

	.tabs__item {
		width: 93px;
	}

	.tabs__item:active, .tabs__item:hover {
		width: 103px;
	}

	.features__tabs-content {
		display: block;
	}

	.features__left {
		width: calc(100% - 45px);
		margin: 0 20px 30px 25px;
	}

	.features__left h3 {
		font-size: 18px;
		line-height: 25px;
		display: flex;
		align-items: center;
		text-align: center;
		margin-bottom: 29px;
	}

	.features__text {
		height: 180px;
	}

	.features__text p {
		font-size: 13px;
		line-height: 15px;	
		text-align: center;
	}

	.btn--small {
		margin-top: 29px;
		width: 100%;
		height: 50px;
	}

	.features__tabs-content img {
		display: none;
	}
}