.contact {
	padding-bottom: 50px;
}

.data__wrap {
	display: flex;
	margin: 89px 0 50px;
}

.data__fields {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.data__fields--long {
	width: 48.803%;
	height: 214px;
	margin-right: 30px;
}

.data__fields input {
	width: 100%;
	padding: 0 0 15px;
	margin-bottom: 3px;
	line-height: 19px;
	border: 0;
	border-bottom: 1px solid #BDBDBD;
}

textarea {
	width: 48.632%;
	height: 211px;
	resize: none;
	margin-bottom: 3px;
	border: 0;
	border-bottom: 1px solid #BDBDBD;
}

textarea::placeholder, .data__fields input::placeholder {
	font-family: 'OpenSans400';
	font-weight: 400;
	font-style: normal;
	color: #BDBDBD;
	font-size: 14px;
}

textarea:focus, .data__fields input:focus {
	outline: 0;
	outline-offset: 0;
}