.title--white {
	color: #fff;
}

.title--white::after {
	background:  #fff;
}

.subtitle--white {
	color: #fff;
}

.banner-2 .container {
	position: relative;
	z-index: 1;
}

.banner-2 {
	display: flex;
	justify-content: center;
	background-size: cover;
	background-image: url(../img/image.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 50px;
}

.banner-2::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: #000;
	opacity: .5; */
	background-color: rgba(0, 0, 0, .5);
}

.btn__download {
	padding: 0;
	margin: 73px 400px 50px;
	width: 370px;
	height: 58px;
	font-family: 'OpenSans600';
	font-weight: 600;
	font-style: normal;
	color: #fff;
	font-size: 18px;
	border: 2px solid #fff;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

.btn__download:hover {
	color: #EC7979;
	border: 2px solid #EC7979;
}

.btn__download:active {
	color: #fff;
	border: 2px solid #AB4949;
	background: #ab4949;
}