@font-face {
	font-family: 'Raleway400';
	src: url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.woff2") format("woff2"),
	url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.woff") format("woff"),
	url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.ttf") format("truetype"),
	url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.eot") format("eot"),
	url("../fonts/Raleway400/AnyConv.com__Raleway-Regular.svg#webfont") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway500';
	src: url("../fonts/Raleway500/AnyConv.com__Raleway-Medium.woff2") format("woff2"),
	url("../fonts/Raleway500/AnyConv.com__Raleway-Medium.woff") format("woff"),
	url("../fonts/Raleway500/Raleway-Medium.ttf") format("truetype"),
	url("../fonts/Raleway500/AnyConv.com__Raleway-Medium.eot") format("eot"),
	url("../fonts/Raleway500/AnyConv.com__Raleway-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway700';
	src: url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.woff2") format("woff2"),
	url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.woff") format("woff"),
	url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.ttf") format("truetype"),
	url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.eot") format("eot"),
	url("../fonts/Raleway700/AnyConv.com__Raleway-Bold.svg#webfont") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans700';
	src: url("../fonts/OpenSans700/AnyConv.com__OpenSans-Bold.woff2") format("woff2"),
	url("../fonts/OpenSans700/AnyConv.com__OpenSans-Bold.woff") format("woff"),
	url("../fonts/OpenSans700/AnyConv.com__OpenSans-Bold.ttf") format("truetype"),
	url("../fonts/OpenSans700/AnyConv.com__OpenSans-Bold.eot") format("eot"),
	url("../fonts/OpenSans700/AnyConv.com__OpenSans-Bold.svg#webfont") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans600';
	src: url("../fonts/OpenSans600/AnyConv.com__OpenSans-SemiBold.woff2") format("woff2"),
	url("../fonts/OpenSans600/OpenSans-SemiBold.woff") format("woff"),
	url("../fonts/OpenSans600/OpenSans-SemiBold.ttf") format("truetype"),
	url("../fonts/OpenSans600/AnyConv.com__OpenSans-SemiBold.eot") format("eot"),
	url("../fonts/OpenSans600/OpenSans-SemiBold.svg#webfont") format("svg");
	font-weight: 600;
	font-style: normal;
}