.header {
	background: #000000;
}

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: 75px;
}

.nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.nav li {
	width: 114px;
	height: 75px;
	line-height: 75px;
	text-align: center;
}

.nav li:hover {
	background-color: #EC7979;
}

.nav li:active {
	background-color: #AB4949;
}

.nav li a {
	font-family: 'OpenSans600';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
}