@import url('fonts.css');
@import url('pricing.css');
@import url('about.css');
@import url('header.css');
@import url('social.css');
@import url('download.css');
@import url('footer.css');
@import url('btn.css');
@import url('contact.css');
@import url('review.css');
@import url('main-screen.css');

*{
	list-style: none;
	list-style-type: none;
	box-sizing: border-box;
	text-decoration: none; 
}

h1, h2, h3, h4, h5, body {
	margin: 0;
}

/* Убрал артефпкт у img  */     /*? что это такое?*/
img {
	vertical-align: middle;
}

.container {
	max-width: 1200px;
	padding: 0 15px; 
	margin: auto;
}

.title {
	margin-bottom: 40px;
	font-size: 36px;
	line-height: 150px;
	text-transform: uppercase;
	position: relative;
}

.title--dark {
	color: #000000;
}

.title::after, .main-screen__title::after {
	content: "";
	position: absolute;
	 
	left: 0;      
	right: 0; 
	width: 170px;
	height: 1px;
	display: block;	
}

.title::after {
	margin: 0 auto;
	bottom: 0;  
}

.main-screen__title::after {
	margin: 0;
	bottom: -55px;  
}

.title--dark::after {
	background:  #EC7979;
}

.subtitle {
	font-size: 18px;
	line-height: 21px;
	margin: 0;
}

.subtitle--dark {
	color: #86878B;
}

.subtitle, .title {
	text-align: center;
}

.subtitle, .title, .main-screen__subtitle, .review__message, .review__information h4  {
	font-family: 'Raleway400';
	font-weight: 400;
	font-style: normal;
}

.title--light {
	color: #fff;
}

.title--light::after {
	background:  #fff;
}

.subtitle--light {
	color: #fff;
}

.about, .pricing, .download, .contact, .review {
	padding-top: 50px;
}