.social {
	background: #F8EFEF;
}

.social__wrap {
	display: flex;
	align-items: center;
}

.social__text {
	padding: 2px 0 0 0;
	width: 470px;
	margin-right: 30px;
}

.social__title {
	margin: 0 0 18px 0;
	font-family: 'OpenSans700';
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	height: 60px;
	line-height: 60px;
}

.social__description {
	font-family: 'Raleway400';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	margin: 0 0 18px 0;
}

.social-list {
	display: flex;
}

.social-list--big {
	justify-content: space-between;
	width: 670px;
}

/* .social-list img {
	margin-left: 25px;
}

.social-list a:first-child img {
	margin-left: 0;
} */

.social-list--big img {
	width: 70px;
	height: 70px;
}